$baseColors: (
    "background": #1D5B79,
    "color": #000000,
    "font": sans-serif,
    "secondFont": "Alata"
);

$vhCalc: (
    "bodyPadding": 4rem,
    "headerHeight": 8rem
);

$accentColors: (
    "icons": #468B97,
    "eye": #1D5B79,
    "color": white
);
