@use "variables.scss";

body{
    min-height: 100vh;
    font-size: 2rem;
    padding: 4rem;
    background: map-get(variables.$gradientVars, "mainBackground");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: map-get(variables.$fontVars, "mainFont");
}