@media screen and (max-width: 62.5rem) {
    .colors{
        &__color{
            width: 22rem;

            &:hover &Circle{
                transform: none;
            }
        }
    }
}

@media screen and (max-width: 50rem){
    body{
        padding: 2rem;
    }
    .colors{
        &__color{
            width: 10rem;
        }
    }
}