$gradientVars: (
    "mainBackground": linear-gradient(#8E7AB5, 60%, #E493B3)
);

$backgroundVars: (
    "circleBackground": #7b6adc
);

$borderVars: (
    "colorBorder": rgba(0, 0, 0, 0.2)
);

$fontVars: (
    "mainFont": sans-serif
);